nav {
    position: fixed;
    right: -50vh;
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    @media (min-width: $breakpoint-tablet) {
        display: initial;
        position: static;
    } 
}

#toggle:checked ~ nav {
    right: 0;
    top: 110px;
    background-color: $highlight-color;
    padding: 10px 50px;
    text-align: center;
    width: 100vw;
    line-height: 26px;
}

#toggle {
    display: none;
}

label {
    position: relative;
    z-index: 99;
    cursor: pointer;
}

.burger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media (min-width: $breakpoint-tablet) {
        display: none;
    }
}

.slice {
    background-color: $main-color;
    width: 40px;
    height: 1px;
}
