footer {
    margin: 0 auto;
    max-width: 996px;
    padding: 20px;
    @media (min-width: $breakpoint-desktop) {
        padding: 0;
    }

    li {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
    }

    .top-footer {
        display: none;
        @media (min-width: $breakpoint-tablet) {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            gap: 30px;
        }

        .menu-footer {
            display: flex;
            flex-direction: column;
            gap: 16px;

            p {
                letter-spacing: 3px;
                text-transform: uppercase;
            }
        }

        .mini-logos {
            display: flex;
            gap: 8px;
            justify-content: space-between;
            align-items: flex-start;
            
            .logo1 {
                background-color: $icon-color;
                border-radius: 50%;
                height: 48px;
                width: 48px;
            }

            .facebook img {
                height: 16px;
                width: auto;
                margin: 16px 19px;
            }
            .twitter img {
                width: 16px;
                margin: 18px 16px;
            }
            .instagram img {
                width: 16px;
                margin: 16px;
            }
        }
    }

    .line {
        background-color: $main-color;
        height: 1px;
        opacity: 0.0797;
        margin-bottom: 40px;
    }

    .bottom-footer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 75px;
        flex-wrap: wrap;

        ul {
            display: flex;
            gap: 48px;
        }
    }
}
