header {
    margin: 31px auto 164px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    @media (min-width: $breakpoint-desktop) {
        padding: 0;
    }


    nav {
        ul {
            display: flex;
            justify-content: center;
            gap: 16px;
            @media (min-width: $breakpoint-tablet) {
                gap: 33px;
            }
            li {
                display: inline-block;
                font-size: 14px;
                font-weight: 400;
                a:hover {
                    color: $highlight-color;
                }
            }
        }
    }

    .bg-tr {
        display: none;
        z-index: -2;
        position: absolute;
        width: 601px;
        height: 635px;
        top: 0;
        right: 0;
        background-image: url(Assets/deco1.png);
        background-position: bottom left;
        @media (min-width: $breakpoint-smallscreen) {
            display: initial;
        }
    }

}