@import 'button';
@import 'titles';
main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    @media (min-width: $breakpoint-desktop) {
        padding: 0;
    }

    @media (min-width: $breakpoint-tablet) {
        h1::before {
            content: url(deco3.png);
            position: absolute;
            top: -48px;
            left: -43px;
            z-index: -2;
        }
        .hero::after {
            content: url(deco2.png);
            position: absolute;
            bottom: -84px;
            left: 281px;
            z-index: -2;
        }
    }
    
    .hero {
        display: flex;
        flex-direction: column;
        gap: 21px;
        margin-bottom: 260px;
        position: relative;

        h1 {
            font-size: 64px;
            font-weight: 300;
            letter-spacing: 2.88px;
            text-transform: uppercase;
        }

        h2 {
            color: $highlight-color;
            font-size: 32px;
            font-weight: 400;
            letter-spacing: 1.44px;
            text-transform: uppercase;
        }

        p {
            color: $not-white;
            font-size: 16px;
            font-weight: 300;
            line-height: 32px;
            letter-spacing: 0.72px;
            max-width: 406px;
        }
    }

    .mid {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 150px;
        @media (min-width: $breakpoint-tablet) {
            margin-bottom: 75px;
        }
        @media (min-width: $breakpoint-smallscreen) {
            grid-template-columns: 1fr 470px;
            gap: 145px;
        }

        .text {
            max-width: 470px;
        }

        h4 {
            width: 321px;
            position: relative;
        }

        @media (min-width: $breakpoint-tablet) {
            h4::after {
                content: url('Ellipse 1.png');
                position: absolute;
                top: 20px;
                right: -121px;
                z-index: -2;
            }
        }

        p {
            margin-bottom: 30px;
        }
    }

    .bot {
        .text {
            text-align: center;
            position: relative;
            max-width: 570px;
            margin: 0 auto 70px;
        }
        
        @media (min-width: $breakpoint-tablet) {
            .text::before {
                content: url('deco3 2.png');
                position: absolute;
                top: -15px;
                left: 5px;
                z-index: -2;
            }
        }
        

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            margin-bottom: 113px;
            @media (min-width: $breakpoint-desktop) {
                flex-wrap: nowrap;
            }

            .card {
                background: $bg-card;
                border-radius: 12px;
                border: 1px solid $black-08;
                box-shadow: 0px 24px 24px 0px $shadow-blue;

                .text1 {
                    padding: 38px 32px;
                    text-align: left;

                    .content {
                        font-family: $second-font;
                        font-size: 24px;
                        font-weight: 300;
                        line-height: 32px;
                        color: $main-color;
                    }

                    .date {
                        color: $black-05;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 32px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}