@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@300;400;500;800&display=swap');
@import 'config';

@import 'logo';

@import 'header';
@import 'main';
@import 'footer';

@import 'pets';