.start {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.63px;
    text-transform: uppercase;
    padding: 13px 30px;
    border-radius: 75px;
    background-color: $second-color;
}

.more {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.63px;
    text-transform: uppercase;
    margin-left: 24px;
    padding: 13px 30px;
    border-radius: 75px;
    background-color: $main-color;
    color: #000;
}
