@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@300;400;500;800&display=swap");
/* COLORS */
/* FONTS */
/* BREAKPOINTS */
/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow", sans-serif;
  background: linear-gradient(237deg, #2C2D65 0.35%, #201F22 100%);
  color: #FFF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFF;
}

img {
  width: 100%;
}

.logo {
  font-size: 32px;
  font-weight: 800;
  line-height: normal;
}
.logo span {
  color: #E6606C;
}

header {
  margin: 31px auto 164px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@media (min-width: 1440px) {
  header {
    padding: 0;
  }
}
header nav {
  display: none;
}
@media (min-width: 768px) {
  header nav {
    display: initial;
  }
}
header nav ul {
  display: flex;
  gap: 33px;
}
header nav ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}
header nav ul li a:hover {
  color: #E8AB36;
}
header .bg-tr {
  display: none;
  z-index: -2;
  position: absolute;
  width: 601px;
  height: 635px;
  top: 0;
  right: 0;
  background-image: url(deco1.png);
  background-position: bottom left;
}
@media (min-width: 1024px) {
  header .bg-tr {
    display: initial;
  }
}

.buttons {
  margin-top: 13px;
}

.start {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.63px;
  text-transform: uppercase;
  padding: 13px 30px;
  border-radius: 75px;
  background-color: #E6606C;
}

.more {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.63px;
  text-transform: uppercase;
  margin-left: 24px;
  padding: 13px 30px;
  border-radius: 75px;
  background-color: #FFF;
  color: #000;
}

/* BUTTONS HOVER */
.start:hover {
  background-color: #E8AB36;
  color: #000;
}

.more:hover {
  color: #E6606C;
}

h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

h4 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 56px;
  font-weight: 300;
  line-height: 64px;
  margin-bottom: 30px;
}

h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 30px;
}

p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}
@media (min-width: 1440px) {
  main {
    padding: 0;
  }
}
main .pets {
  border: 2px solid rgba(255, 255, 255, 0.08);
  border-radius: 1rem;
  box-shadow: 0px 24px 24px 0px rgba(0, 1, 44, 0.16);
}
@media (min-width: 768px) {
  main h1::before {
    content: url(deco3.png);
    position: absolute;
    top: -48px;
    left: -43px;
    z-index: -2;
  }
  main .hero::after {
    content: url(deco2.png);
    position: absolute;
    bottom: -84px;
    left: 281px;
    z-index: -2;
  }
}
main .hero {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 260px;
  position: relative;
}
main .hero h1 {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}
main .hero h2 {
  color: #E8AB36;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
main .hero p {
  color: #EFEFEF;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.72px;
  max-width: 406px;
}
main .mid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 150px;
}
@media (min-width: 768px) {
  main .mid {
    margin-bottom: 75px;
  }
}
@media (min-width: 1024px) {
  main .mid {
    grid-template-columns: 1fr 470px;
    gap: 145px;
  }
}
main .mid .text {
  max-width: 470px;
}
main .mid h4 {
  width: 321px;
  position: relative;
}
@media (min-width: 768px) {
  main .mid h4::after {
    content: url("Ellipse 1.png");
    position: absolute;
    top: 20px;
    right: -121px;
    z-index: -2;
  }
}
main .mid p {
  margin-bottom: 30px;
}
main .bot .text {
  text-align: center;
  position: relative;
  max-width: 570px;
  margin: 0 auto 70px;
}
@media (min-width: 768px) {
  main .bot .text::before {
    content: url("deco3 2.png");
    position: absolute;
    top: -15px;
    left: 5px;
    z-index: -2;
  }
}
main .bot .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 113px;
}
@media (min-width: 1440px) {
  main .bot .container {
    flex-wrap: nowrap;
  }
}
main .bot .container .card {
  background: radial-gradient(circle, #4D4F95 0%, #2B2D66 100%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0px 24px 24px 0px rgba(0, 1, 44, 0.16);
}
main .bot .container .card .text1 {
  padding: 38px 32px;
  text-align: left;
}
main .bot .container .card .text1 .content {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: #FFF;
}
main .bot .container .card .text1 .date {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
}

footer {
  margin: 0 auto;
  max-width: 996px;
  padding: 20px;
}
@media (min-width: 1440px) {
  footer {
    padding: 0;
  }
}
footer li {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
footer li a:hover {
  color: #E8AB36;
}
footer .top-footer {
  display: none;
}
@media (min-width: 768px) {
  footer .top-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 30px;
  }
}
footer .top-footer .menu-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .top-footer .menu-footer p {
  letter-spacing: 3px;
  text-transform: uppercase;
}
footer .top-footer .mini-logos {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: flex-start;
}
footer .top-footer .mini-logos .logo1 {
  background-color: #6357F6;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
footer .top-footer .mini-logos .facebook img {
  height: 16px;
  width: auto;
  margin: 16px 19px;
}
footer .top-footer .mini-logos .twitter img {
  width: 16px;
  margin: 18px 16px;
}
footer .top-footer .mini-logos .instagram img {
  width: 16px;
  margin: 16px;
}
footer .line {
  background-color: #FFF;
  height: 1px;
  opacity: 0.0797;
  margin-bottom: 40px;
}
footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
  flex-wrap: wrap;
}
footer .bottom-footer ul {
  display: flex;
  gap: 48px;
}

.gif {
  margin-top: 30px;
  max-width: 1000px;
}

.animal {
  position: absolute;
  max-width: 1100px;
  bottom: 0;
  right: 0;
}